<head>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="description" content="Izumeeeel's blog and portfolio">
  <title>Izumeeeel</title>
</head>
<link rel="stylesheet" href="main.css">
<div id="app"></div>
<script src="main.js"></script>