<template>
  <div class="article">
    <router-link to="/blog">
      <p class="arrow chevron-left"></p>
    </router-link>
    <div class="article__content" v-if="!isArticleLoading">
      <h1>{{ state.artcleContents.title }}</h1>
      <img
        v-if="!!state.articleContents"
        class="article__img"
        :src="state.artcleContents.thumbnail.url"
      />
      <div class="article__main">
        <div
          class="article__main_content"
          v-html="state.artcleContents.main"
        ></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive } from 'vue'
import { useRouter } from 'vue-router'
import axios from 'axios'

export default defineComponent({
  name: 'Article',
  setup() {
    const router = useRouter()
    const articleId = router.currentRoute.value.params.id
    // eslint-disable-next-line
    const description: Element | null = document.querySelector("meta[name='description']")
    onMounted(async () => {
      await fetchArticle()
      state.isArticleLoading = false
      // eslint-disable-next-line no-undef
      document.title = state.artcleContents.title
      if (description == null) {
        return
      } else {
        // eslint-disable-next-line
      description.setAttribute('content', state.artcleContents.main)
      }
    })

    const state = reactive({
      isArticleLoading: true,
      artcleContents: {
        title: '',
        thumbnail: {
          url: ''
        },
        main: ''
      }
    })

    const fetchArticle = async () => {
      const baseUrl: string = process.env.BASE_URL ? process.env.BASE_URL : '' //必ずstringにする
      const response = await axios.get(baseUrl + '/' + articleId, {
        headers: { 'X-API-KEY': process.env.API_KEY }
      })
      state.artcleContents = response.data
    }

    return {
      state,
      fetchArticle
    }
  }
})
</script>

<style scoped lang="scss">
@import '../../assets/styles/style.scss';
$max-width: 680px;
.article {
  max-width: $max-width;
  margin: 0 auto;
  .article__img {
    width: 200px;
  }
  .article__texts {
    &_title {
      margin-top: 0;
    }
  }
  .article__main {
    margin-bottom: 100px;
    img {
      width: 100%;
    }
    a {
      word-wrap: break-word;
    }
  }
  .arrow {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 12px;
  }
  .arrow::before,
  .arrow::after {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    content: '';
  }
  .chevron-left::after {
    left: 4px;
    width: 12px;
    height: 12px;
    border-top: 2px solid $main-blue;
    border-right: 2px solid $main-blue;
    transform: rotate(-135deg);
  }
}
</style>
