<template>
  <div class="blog">
    <h1>ブログ・メモ</h1>
    <article class="blog__inner" v-if="!state.isLoading">
      <div class="cards cards--col3">
        <Card
          v-for="(article, index) in state.blogs.data.contents"
          :key="index"
          :src="article.thumbnail.url"
          :name="article.title"
          :description="index"
          :isBlog="true"
          :blogUpdatedAt="article.updatedAt"
          :blogContent="article.main"
          :tag="article.tag"
          :linkTo="linkTo(index)"
        />
      </div>
    </article>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive } from 'vue'
import { Blog } from '../../models/Blog'
import Card from '../../components/Card.vue'
import axios from 'axios'

export default defineComponent({
  components: {
    Card
  },
  name: 'Blog',
  setup() {
    onMounted(async () => {
      await fetchBlogs()
      state.isLoading = false
    })
    const state = reactive({
      blogs: {
        data: {
          contents: [
            {
              id: ''
            }
          ]
        }
      },
      isLoading: true
    })

    const fetchBlogs = async (): Promise<void> => {
      const baseUrl: string = process.env.BASE_URL ? process.env.BASE_URL : '' //必ずstringにする
      const response: Blog = await axios.get(baseUrl, {
        headers: { 'X-API-KEY': process.env.API_KEY }
      })
      state.blogs = response
    }

    const linkTo = (index: number): string => {
      return '/blog/' + state.blogs.data.contents[index].id
    }
    return {
      state,
      fetchBlogs,
      linkTo
    }
  }
})
</script>

<style scoped lang="scss">
@import '../../assets/styles/style.scss';

.blog {
  .blog__inner {
    @include worksInner;
  }
}
</style>
