<template>
  <div class="home">
    <TheMain :scrollY="state.scrollY" />
    <h2 class="grass__title">
      成果物
    </h2>
    <div class="workCards__inner">
      <div class="cards cards--col3">
        <Card
          v-for="(card, index) in workCards"
          :key="card.id"
          :index="index"
          :src="card.src"
          :name="card.name"
          :description="card.description"
          :language="card.language"
          :timeSpent="card.timeSpent"
          :linkExternal="card.linkExternal"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive, ref } from 'vue'
import Card from '../components/Card.vue'
import TheMain from '../components/TheMain.vue'
import works from '../assets/scripts/work.ts'

export default defineComponent({
  components: {
    TheMain,
    Card
  },
  name: 'Home',
  setup() {
    onMounted(() => {
      window.addEventListener('scroll', calculateScrollY)
      state.isLoading = false
    })
    const state = reactive({
      scrollY: 0,
      isLoading: true
    })
    const calculateScrollY = () => {
      state.scrollY = window.scrollY
    }
    const workCards = ref(works)
    return {
      state,
      workCards,
      calculateScrollY
    }
  }
})
</script>

<style scoped lang="scss">
@import '../assets/styles/style.scss';

.workCards__inner {
  @include worksInner;
}
</style>
