<template>
  <div class="works">
    <h1 class="works__title">成果物・実績</h1>
    <div class="workCards__inner">
      <div class="cards cards--col3">
        <Card
          v-for="card in workCards"
          :key="card.id"
          :src="card.src"
          :name="card.name"
          :description="card.description"
          :language="card.language"
          :timeSpent="card.timeSpent"
          :linkExternal="card.linkExternal"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import Card from '../components/Card.vue'
import works from '../assets/scripts/work.ts'

export default defineComponent({
  components: {
    Card
  },
  name: 'Works',
  setup() {
    const workCards = ref(works)
    return {
      workCards
    }
  }
})
</script>

<style lang="scss">
@import '../assets/styles/style.scss';
.workCards__inner {
  @include worksInner;
}
</style>
