<template>
  <div>
    <p v-if="!!month" class="month" :class="{ secondWeek: weekIndex == 1 }">
      {{ month }}
    </p>
    <div
      v-else
      class="cell"
      :class="{
        cellTransparent: state.isNotFirstWeek,
        cellUnvisible: state.isNewOrOld
      }"
      :style="{ background: state.cellColor }"
      @mouseover="onCellHovered"
      @mouseleave="onCellLeft"
    >
      <div v-if="state.isCellHovered" class="cell_hovered">
        <p class="cell__text">{{ events }} contributions</p>
        <p class="cell__text">{{ date }}</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, onMounted, computed } from 'vue'
import { months } from 'moment'

export default defineComponent({
  name: 'CalenderCell',
  props: {
    events: {
      default: 0
    },
    date: {
      default: ''
    },
    month: {
      default: ''
    },
    weekIndex: {
      default: 0
    }
  },
  setup(props) {
    onMounted(() => {
      getColor()
    })
    const state = reactive({
      cellColor: {},
      isCellHovered: false,
      isNotFirstWeek: computed(() => !props.date),
      //1年以上前か未来か
      isNewOrOld: computed(() => props.date == '0'),
      hasMonth: computed(() => months)
    })
    const getColor = () => {
      let color = ''
      if (props.date == '0') {
        color = '#F8F8FC'
      } else if (props.events <= 0 && props.date !== '0') {
        color = '#ebedf3'
      } else if (props.events > 0 && props.events < 10) {
        color = '#ced3e0'
      } else if (props.events >= 10 && props.events < 20) {
        color = '#94a0bb'
      } else if (props.events >= 20 && props.events < 30) {
        color = '#5a6c96'
      } else {
        color = '#253d75'
      }
      state.cellColor = color
    }
    const onCellHovered = () => {
      state.isCellHovered = true
    }
    const onCellLeft = () => {
      state.isCellHovered = false
    }

    return {
      state,
      getColor,
      onCellHovered,
      onCellLeft
    }
  }
})
</script>

<style scoped lang="scss">
@import '../assets/styles/style.scss';
.cell {
  position: relative;
  border-radius: 50%;

  @include hoveredNotation($widthBy: 1);
}
.cellTransparent {
  background: transparent !important;
  pointer-events: none;
}
.cellUnvisible {
  pointer-events: none;
}
.cell::before {
  white-space: pre-wrap;
  content: ' ';
}
.month {
  font-size: $small;
  line-height: 24px;
  margin: 0;
  @include media(m) {
    visibility: hidden;
  }
}
// １周目の月と文字が重ならないようにする
.secondWeek {
  margin-left: 5px;
}
</style>
