<template>
  <div class="cards__item card">
    <div v-if="isBlog">
      <router-link :to="linkTo">
        <figure class="card__img-wrapper">
          <img :src="src" class="card__img" />
          <div class="card__img-mask">
            <p class="card__img-maskText">もっとみる</p>
          </div>
        </figure>
        <!-- .card__img-wrapper -->
        <div class="card__body">
          <p class="card__title title">{{ name }}</p>
          <div class="card__txt details">
            <p>
              {{ state.blogUpdatedAt }}
              <span class="card__tag card__txt">{{ tag }}</span>
            </p>
            <div class="blog__content" v-html="blogContent"></div>
          </div>
        </div>
        <!-- .card__body -->
      </router-link>
    </div>
    <!-- .card -->
    <div v-else-if="index < 3">
      <a :href="linkExternal" target="_blank">
        <figure class="card__img-wrapper">
          <img :src="src.default" class="card__img" />
          <div class="card__img-mask">
            <p class="card__img-maskText">別タブでみる</p>
          </div>
        </figure>
        <!-- .card__img-wrapper -->
        <div class="card__body">
          <p class="card__title title">{{ name }}</p>
          <div class="card__txt details">
            <p>{{ description }}</p>
            <p>使用技術：{{ language }}</p>
            <p>期間：{{ timeSpent }}</p>
          </div>
        </div>
        <!-- .card__body -->
      </a>
    </div>
    <!-- .card -->
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, computed } from 'vue'
import moment from 'moment'

export default defineComponent({
  name: 'Card',
  props: {
    name: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    src: {
      type: Object,
      default: ''
    },
    alt: {
      type: String,
      default: ''
    },
    blogContent: {
      type: String,
      default: ''
    },
    blogUpdatedAt: {
      type: String,
      default: ''
    },
    isBlog: {
      type: Boolean,
      default: false
    },
    linkTo: {
      type: String,
      default: ''
    },
    linkExternal: {
      type: String,
      default: ''
    },
    language: {
      type: String,
      default: ''
    },
    timeSpent: {
      type: String,
      default: ''
    },
    key: {
      type: String,
      default: ''
    },
    index: {
      type: String,
      default: ''
    },
    tag: {
      type: String,
      default: ''
    }
  },
  setup(props) {
    const state = reactive({
      isCardClicked: false,
      isCardHovered: false,
      blogUpdatedAt: computed(() =>
        moment(props.blogUpdatedAt, 'YYYYMMDD').format('YYYY.MM.DD')
      )
    })

    return {
      state
    }
  }
})
</script>

<style lang="scss">
@import '../assets/styles/style.scss';

.cards__item {
  width: 31%;
  margin-right: 3%;
  margin-bottom: 30px;
}

.cards__item:nth-of-type(3n) {
  margin-right: 0;
}

// hover時の効果
.card:hover .card__img-mask {
  @include media(m) {
    display: none;
  }
  position: absolute;
  opacity: 1;
  background-color: rgba(1, 1, 1, 0.6);
}

.card {
  box-shadow: 6px 6px 10px #d3d3d6, -3px -3px 6px 2px #ffffff;
  border-radius: 10px;
  &__img-wrapper {
    position: relative;
    padding-top: 56.25%; //16:9にする
    width: 100%;
    margin: 0;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
  &__img-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
  &__img-maskText {
    color: white;
    text-align: center;
    position: absolute;
    top: 45%;
    width: 100%;
    transform: translateY(-50%);
  }
  &__img {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
  &__tag {
    background: $main_blue;
    border: solid 1px rgba(1, 1, 1, 0.6);
    border-radius: 5px;
    padding: 0 0.2rem 0 0.2rem;
    color: $base_white;
    margin-left: 0.3rem;
  }
  &__body {
    padding: 15px;
    border-radius: 0 0 10px 10px;
  }
  &__body > *:last-child {
    margin-bottom: 0px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
  }
  &__txt {
    font-size: $small;
  }
}
.blog__content {
  //冒頭だけ表示
  p:first-of-type {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  //冒頭以外は非表示
  p:not(:first-of-type),
  :not(p) {
    display: none;
  }
}
.blog__link {
  text-align: right;
}
</style>
