<template>
  <a :href="linkTo" :target="name === 'Gmail' ? '' : '_blank'">
    <div class="contactItem">
      <div
        class="contactItem__container"
        :class="{
          contactItem__containerHovered: state.isItemHovered
        }"
        @mouseenter="switchItemHover(true)"
        @mouseleave="switchItemHover(false)"
        @click="witeToClipboard()"
      >
        <img
          class="contactItem__icon"
          :class="{ gmail: name === 'Gmail' }"
          :src="src.default"
          :alt="alt"
        />
        <span
          v-if="state.isEmailCopied && state.isItemHovered && name == 'Gmail'"
          class="contactItem__text"
        >
          メールアドレスをコピーしました！
        </span>
        <span
          v-else-if="!state.isEmailCopied && state.isItemHovered"
          class="contactItem__text hide"
        >
          {{ text }}
        </span>
        <!-- <span v-else>{{ name }}</span> -->
      </div>
      <!-- .contactItem__container -->
    </div>
    <!-- .contactItem -->
  </a>
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue'

export default defineComponent({
  name: 'ContactItem',
  props: {
    name: {
      type: String,
      default: ''
    },
    src: {
      type: Object,
      default: ''
    },
    alt: {
      type: String,
      default: ''
    },
    linkTo: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    }
  },
  setup() {
    const state = reactive({
      isItemHovered: false,
      isEmailCopied: false
    })
    const witeToClipboard = () => {
      const copyText = 'izumi.watahiki@gmail.com'
      navigator.clipboard
        .writeText(copyText)
        .then(() => {
          state.isEmailCopied = true
        })
        .catch((e) => {
          console.error(e)
        })
    }
    const switchItemHover = (hovered: boolean): void => {
      state.isItemHovered = hovered
      if (!hovered) {
        state.isEmailCopied = false
      }
    }

    return {
      state,
      witeToClipboard,
      switchItemHover
    }
  }
})
</script>

<style lang="scss">
@import '../assets/styles/style.scss';

.contactItem {
  &__container {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    @include media(m) {
      background: $base-white;
      border-radius: 30px;
      padding: 4px;
      margin: 6px;
      box-shadow: 3px 3px 5px #d3d3d6, -2px -2px 5px #ffffff;
    }
  }
  &__container:not(:last-chiled) {
    margin-bottom: 10px;
  }
  &__icon {
    width: 30px;
    height: 30px;
  }
  .gmail {
    width: 20px;
    height: 30px;
  }
  &__text {
    position: absolute;
    left: -10em;
    width: 8em;
    font-size: $small;
    // 吹き出し
    background-color: rgba(1, 1, 1, 0.9);
    color: $base_white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
  }
  &__text:before {
    content: '';
    position: absolute;
    top: 26%;
    left: 100%;
    border: 5px solid transparent;
    border-left: 5px solid rgba(1, 1, 1, 0.9);
  }
  .hide {
    @include media(m) {
      display: none;
    }
  }
}
</style>
