<template>
  <router-link :to="linkTo">
    <div
      class="footerNav__container_outer"
      @click="onNavClick()"
      :class="{ footerNav__container_clickedOuter: state.isNavClicked }"
    >
      <div
        class="footerNav__container_inner"
        @click="onNavClick()"
        :class="{ footerNav__container_clickedInner: state.isNavClicked }"
      >
        <img
          class="footerNav__icon"
          :src="src.default"
          :alt="alt"
          :linkTo="linkTo"
        />
      </div>
      <!-- .footerNav__container_inner -->
    </div>
    <!-- .footerNav__container_inner -->
  </router-link>
</template>

<script lang="ts">
import { defineComponent, reactive, computed } from 'vue'

export default defineComponent({
  name: 'FooterNav',
  props: {
    name: {
      type: String,
      default: ''
    },
    src: {
      type: Object,
      default: ''
    },
    alt: {
      type: String,
      default: ''
    },
    linkTo: {
      type: String,
      default: ''
    },
    page: {
      type: String,
      default: ''
    }
  },
  setup(props) {
    const state = reactive({
      isNavClicked: computed(() => props.name === props.page)
    })
    return {
      state
    }
  }
})
</script>

<style lang="scss">
@import '../assets/styles/style.scss';

.footerNav__container_outer {
  display: flex;
  margin: 0.2em;
  width: 54px;
  border-radius: 54px;
}
.footerNav__container_clickedOuter {
  box-shadow: 2px 2px 5px #d3d3d6, -2px -2px 3px #ffffff;
  transition: 0.5s;
}
.footerNav__container_inner {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 12px 2px;
  width: 54px;
  border-radius: 54px;
}
.footerNav__container_clickedInner {
  box-shadow: inset 3px 3px 5px #d3d3d6, inset -3px -3px 5px #ffffff;
  transition: 0.5s;
}
</style>
