<template>
  <router-link :to="linkTo">
    <div
      class="headerNav__container_outer"
      :class="{ headerNav__container_clickedOuter: state.isNavClicked }"
    >
      <div
        class="headerNav__container_inner"
        :class="{ headerNav__container_clickedInner: state.isNavClicked }"
      >
        <img class="headerNav__icon" :src="src.default" :alt="alt" />
      </div>
      <!-- .headerNav__container_inner -->
    </div>
    <!-- .headerNav__container_outer -->
  </router-link>
</template>

<script lang="ts">
import { defineComponent, reactive, computed } from 'vue'

export default defineComponent({
  name: 'HeaderNav',
  props: {
    name: {
      type: String,
      default: ''
    },
    src: {
      type: Object,
      default: ''
    },
    alt: {
      type: String,
      default: ''
    },
    linkTo: {
      type: String,
      default: ''
    },
    page: {
      type: String,
      default: ''
    }
  },
  setup(props) {
    const state = reactive({
      // comptued でリアクティブに検知
      isNavClicked: computed(() => props.name === props.page)
    })
    return {
      state
    }
  }
})
</script>

<style lang="scss">
.headerNav {
  $this: &;
  $icon-height: 30px;
  $icon-margin: 16px;
  $icon-outer-width: $icon-height + $icon-margin * 2;
  #{$this}__container_outer {
    width: $icon-outer-width;
    border-radius: $icon-outer-width; //丸にする
    margin: 0.2em;
    cursor: pointer;
  }
  #{$this}__container_clickedOuter {
    box-shadow: 6px 6px 10px #d3d3d6, -3px -3px 6px 2px #ffffff;
    transition: 1s;
    pointer-events: none;
  }
  #{$this}__container_inner {
    width: $icon-outer-width;
    border-radius: $icon-outer-width; //丸にする
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    cursor: pointer;
    &:hover,
    &:focus {
      box-shadow: 6px 6px 7px #d3d3d6, -3px -3px 7px #ffffff;
      transition: 1s;
    }
    #{$this}__icon {
      margin: 16px;
    }
  }
  #{$this}__container_clickedInner {
    box-shadow: inset 3px 3px 7px #d3d3d6, inset -6px -6px 7px #ffffff;
    transition: 1s;
  }
}
</style>
