<template>
  <div class="bar__container">
    <div class="barChart__container" :style="{ height: level + '%' }">
      <div
        class="barChart"
        :style="{ background: color }"
        :class="{ barChart_rightest: isLast }"
        @mouseover="onBarHovered"
        @mouseleave="onBarLeft"
      >
        <div
          v-if="state.isBarHovered"
          class="barChart_hovered"
          :class="{ barChart_rightest_hovered: isLast }"
        >
          <p class="barChart__text"><span v-html="notation"></span></p>
        </div>
      </div>
    </div>
    <p class="bar__name">{{ name }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue'

export default defineComponent({
  name: 'LanguageBar',
  props: {
    level: {
      default: 0
    },
    name: {
      default: ''
    },
    color: {
      default: ''
    },
    notation: {
      default: ''
    },
    index: {
      default: 0
    },
    isLast: {
      default: false
    }
  },
  setup() {
    const state = reactive({
      barColor: {},
      isBarHovered: false
    })
    const onBarHovered = () => {
      state.isBarHovered = true
    }
    const onBarLeft = () => {
      state.isBarHovered = false
    }
    return {
      state,
      onBarHovered,
      onBarLeft
    }
  }
})
</script>

<style scoped lang="scss">
@import '../assets/styles/style.scss';

.bar__container {
  height: 450px;
  flex: 1;
  text-align: center;
  position: relative;
  margin-top: 30px;
  @include media(m) {
    margin-top: 10px;
    height: 300px;
  }
  .barChart__container {
    position: absolute;
    width: 100%;
    bottom: 50px;
    .barChart {
      position: absolute;
      width: 50%;
      bottom: 0;
      height: 100%;
      border-radius: 10px 10px 0 0;
      @include hoveredNotation(
        $this: '.barChart',
        $notation-width: 220%,
        $top: -60px,
        $left: -
          (
            220%/2 - 35
          ),
        $widthBy: 3.2,
        $isLast: false
      );
    }
    .barChart_rightest {
      @include hoveredNotation(
        $this: '.barChart_rightest',
        $notation-width: 220%,
        $top: -60px,
        $left: -
          (
            220%/2 - 35
          ),
        $widthBy: 3,
        $isLast: true
      );
    }
    .barChart::before {
      content: ' ';
      white-space: pre-wrap;
    }
  }
  .bar__name {
    position: absolute;
    width: 50%;
    bottom: 0;
    @include media(m) {
      font-size: $small;
      white-space: nowrap;
    }
  }
}
</style>
