<template>
  <div class="contact">
    <div class="contact__cover" @mouseleave="onLeaveContact()"></div>
    <img
      class="contact__img"
      src="../assets/images/icon-contact.svg"
      @mouseenter="onHoverContact()"
    />
    <ul
      class="contact__list"
      @mouseenter="onHoverContact()"
      @mouseleave="onLeaveContact()"
      :class="{
        contact_onHovered: state.isContactHovered,
        contact_onLeft: !state.isContactHovered
      }"
    >
      <li v-for="item in contactItems" :key="item.id">
        <ContactItem
          class="contact__item"
          :name="item.name"
          :src="item.src"
          :alt="item.alt"
          :linkTo="item.linkTo"
          :text="item.text"
        />
      </li>
    </ul>
  </div>
  <!-- .contact -->
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from 'vue'
import ContactItem from './ContactItem.vue'
import contacts from '../assets/scripts/contact.ts'

export default defineComponent({
  components: {
    ContactItem
  },
  name: 'TheContact',
  setup() {
    const state = reactive({
      isContactHovered: false
    })
    const onHoverContact = () => {
      state.isContactHovered = true
    }
    const onLeaveContact = () => {
      state.isContactHovered = false
    }
    const contactItems = ref(contacts)

    return {
      state,
      onHoverContact,
      onLeaveContact,
      contactItems
    }
  }
})
</script>

<style scoped lang="scss">
@import '../assets/styles/style.scss';

@keyframes contactAnimation {
  0% {
    z-index: -2;
    transform: translateY(-100%); //Safariチラつき防止
  }
  100% {
    transform: translateY(120%);
  }
}

@keyframes leaveAnimation {
  0% {
    z-index: -2;
    transform: translateY(120%);
  }
  100% {
    transform: translateY(0%);
  }
}

.contact {
  display: flex;
  align-items: center;
  height: inherit;
  position: relative;
  z-index: 0;
  &__cover {
    position: absolute;
    background: $base_white;
    padding: 5px;
    margin: -5px;
    width: 200px;
    left: -50%;
    height: 100%;
    z-index: -1;
  }
  @include media(s) {
    &__img {
      height: 30px;
    }
  }
  &_onHovered {
    animation-name: contactAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  &_onLeft {
    animation-name: leaveAnimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
  }
  &__list {
    background: $base_white;
    position: absolute;
    box-shadow: 5px 5px 5px #d3d3d6;
    border-radius: 0 0 10px 10px;
    width: 50px;
    top: -100%;
    left: -20%;
    z-index: -2;
    list-style: none;
    padding: 5px;
  }
}
</style>
