<template>
  <div class="copyRight">
    <div class="copyRight__inner">
      <p classs="copyRight__text">&copy; 2020 Izumi Watahiki</p>
    </div>
    <!-- .copytRight__inner -->
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'TheCopyRight'
})
</script>

<style scoped lang="scss">
@import '../assets/styles/style.scss';

.copyRight {
  // TODO: 下に固定
  width: 100%;
  bottom: 0;
  @include media(m) {
    display: none;
  }
  &__inner {
    text-align: center;
    max-width: 1230px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    &__text {
      font-size: 8px;
    }
  }
}
</style>
