<template>
  <footer class="footer">
    <div class="footer__inner">
      <div class="footer__nav" v-for="item in nav" :key="item.id">
        <FooterNav
          :name="item.name"
          :src="item.src"
          :alt="item.alt"
          :linkTo="item.linkTo"
          :page="$route.name"
        />
      </div>
      <TheContactFooter />
      <!-- .footer__nav -->
    </div>
    <!-- .footer__inner -->
  </footer>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import FooterNav from './FooterNav.vue'
import TheLogo from './TheLogo.vue'
import TheContactFooter from './TheContactFooter.vue'
import { navs } from '../assets/scripts/nav.ts'

export default defineComponent({
  components: {
    FooterNav,
    TheLogo,
    TheContactFooter
  },
  name: 'TheFooter',
  setup() {
    const nav = ref(navs)
    return {
      nav
    }
  }
})
</script>

<style scoped lang="scss">
@import '../assets/styles/style.scss';

.footer {
  display: none;
  @include media(m) {
    display: block;
    background: $base-white;
  }
  // 下に固定
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  $this: &;
  #{$this}__inner {
    @include neomorphismNav(0);
  }
}
</style>
