<template>
  <header class="header">
    <div class="header__inner">
      <div class="headerNav" v-for="item in nav" :key="item.id">
        <HeaderNav
          :name="item.name"
          :src="item.src"
          :alt="item.alt"
          :linkTo="item.linkTo"
          :page="$route.name"
        />
      </div>
      <TheContact />
      <!-- .header__nav -->
    </div>
    <!-- .header__inner -->
  </header>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import HeaderNav from './HeaderNav.vue'
import TheLogo from './TheLogo.vue'
import TheContact from './TheContact.vue'
import { navs } from '../assets/scripts/nav.ts'

export default defineComponent({
  components: {
    HeaderNav,
    TheLogo,
    TheContact
  },
  name: 'TheHeader',
  setup() {
    const nav = ref(navs)
    return {
      nav
    }
  }
})
</script>

<style scoped lang="scss">
@import '../assets/styles/style.scss';

.header {
  @include media(m) {
    display: none;
  }
  position: fixed;
  width: 100%;
  z-index: 100;
  $this: &;
  border-radius: 0 0 15px 15px;
  background: $base-white;
  box-shadow: 5px 5px 15px #d3d3d6, -5px -5px 15px #ffffff;
  #{$this}__inner {
    max-width: 1230px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
  }
}
</style>
