<template>
  <div class="loading__wrapper">
    <div class="loading">
      <div
        class="loading__drop loading__drop_right"
        :style="{
          height: state.time * 2 + 'px',
          width: state.time * 2 + 'px'
        }"
      ></div>
      <div
        class="loading__drop loading__drop_left"
        :style="{
          height: state.time * 2 + 'px',
          width: state.time * 2 + 'px'
        }"
      ></div>
      <p class="loading__drop_text loading__text">{{ state.time }}%</p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive, SetupContext } from 'vue'

export default defineComponent({
  name: 'TheLoading',
  setup(props, context: SetupContext) {
    onMounted(() => {
      timer
    })
    const state = reactive({
      time: 0,
    })
    const incrementTime = (): void => {
      state.time++
      if (state.time === 100) {
        stopTimer()
      }
    }
    const timer = setInterval(incrementTime, 20)
    const stopTimer = () => {
      clearInterval(timer)
      context.emit('loaded')
    }
    return {
      state,
      timer,
      incrementTime
    }
  }
})
</script>

<style scoped lang="scss">
@import '../assets/styles/style.scss';
.loading__wrapper {
  padding-top: 50vh;
}
.loading {
  text-align: center;
  position: relative;
  &__text {
    margin: 0;
  }
  &__drop_text {
    @include centeredItem();
  }
  &__drop_left {
    @include centeredItem(48%);
  }
  &__drop_right {
    @include centeredItem(52%);
  }
  &__drop_left::before {
    @include loadingCircle(rgba(239, 185, 203, 0.5));
  }
  &__drop_right::before {
    @include loadingCircle(rgba(25, 43, 88, 0.3));
  }
}
</style>
