<template>
  <div class="logo__inner">
    <router-link to="/">
      <img
        class="logo__img"
        :class="{ logo_onHovered: state.isLogoHovered }"
        src="../assets/images/logo.svg"
        @mouseover="onHoverLogo()"
        @mouseleave="onLeaveLogo()"
      />
    </router-link>
  </div>
  <!-- .logo__inner -->
</template>

<script lang="ts">
import { defineComponent, reactive } from 'vue'

export default defineComponent({
  name: 'TheLogo',
  setup() {
    const state = reactive({
      isLogoHovered: false
    })
    const onHoverLogo = () => {
      state.isLogoHovered = true
    }
    const onLeaveLogo = () => {
      state.isLogoHovered = false
    }
    
    return {
      state,
      onHoverLogo,
      onLeaveLogo
    }
  }
})
</script>

<style scoped lang="scss">
@import '../assets/styles/style.scss';

@keyframes logoAnimation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
}

.logo__inner {
  display: flex;
  align-items: center;
  height: inherit;
  @include media(s) {
    .logo__img {
      height: 30px;
    }
  }
  .logo_onHovered {
    animation-name: logoAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
  }
}
</style>
