<template>
  <div class="about">
    <h1 class="about__title">私について</h1>
    <article class="media">
      <div class="media__body">
        <p class="media__text">
          フロントエンドエンジニアの綿引泉です。<br />
          普段は真面目で、継続して努力し続けることが得意です。<br />
          目標はデザインもできるエンジニアです。現在はエンジニアとしての力をつけるべく、<br />
          日々草（コミット）を生やしつつ、デザインの勉強もしています。<br />
          コーディングや読書以外の時間は、川辺を走ったり料理をしたりします。<br />
        </p>
      </div>
      <!-- .media__body -->
      <figure class="media__imgWrapper">
        <!-- v-showで描画はさせておく -->
        <img
          v-show="state.isImgHovered"
          class="media__img"
          :src="imgLovely.default"
          alt="体操座りラブリー綿引"
          @mouseleave="state.isImgHovered = false"
        />
        <img
          v-if="!state.isImgHovered"
          class="media__img"
          :src="img.default"
          alt="体操座り綿引"
          @mouseover="state.isImgHovered = true"
        />
      </figure>
    </article>
    <!-- .media -->
    <article class="grass">
      <div>
        <h2 class="grass__title">
          コミット
        </h2>
        <p class="grass__description">
          GitLab APIを用いて取得した自分自身のContributionsを表示させています。
        </p>
      </div>
      <div class="grass__inner">
        <div class="grass__dayLabel">
          <p class="grass__day">M</p>
          <p class="grass__day">W</p>
          <p class="grass__day">F</p>
          <p class="grass__day">S</p>
        </div>
        <!-- .grass__dayLabel -->
        <div
          class="grass__week"
          v-for="(week, weekIndex) in weeks"
          :key="week.id"
        >
          <CalendarCell :month="state.firstWeek[week]" :weekIndex="weekIndex" />
          <div class="grass__day" v-for="(day, dayIndex) in days" :key="day.id">
            <CalendarCell
              v-if="state.isMounted"
              :date="state.calendar[weekIndex][dayIndex]"
              :events="state.grass[state.calendar[weekIndex][dayIndex]]"
            />
            <div v-else>w</div>
          </div>
          <!-- .grass__day -->
        </div>
        <!-- .grass__week -->
      </div>
      <!-- grass__inner -->
    </article>
    <!-- .grass -->
    <article class="language">
      <h2 class="language__title">言語</h2>
      <div class="language__inner">
        <div class="language__labelContainer">
          <p class="language__label">ネイティブ</p>
          <p class="language__label">ビジネス</p>
          <p class="language__label">日常会話</p>
          <p class="language__label">初級</p>
        </div>
        <div
          v-for="(bar, index) in languageBars"
          :key="index"
          class="language__barContainer"
        >
          <LanguageBar
            :index="index"
            :isLast="languageBars.length - 1 === index"
            :name="bar.name"
            :level="calculateBarHeight(bar.level)"
            :color="bar.color"
            :notation="bar.notation"
          />
        </div>
      </div>
    </article>
  </div>
  <!-- .about -->
</template>

<script lang="ts">
import { defineComponent, ref, reactive, onMounted } from 'vue'
import axios from 'axios'
import moment from 'moment'
import CalendarCell from '../components/CalendarCell.vue'
import LanguageBar from '../components/LanguageBar.vue'
import { Language, EventDateCount, GitlabEvent } from '../models/About'

// eslint-disable-next-line @typescript-eslint/no-var-requires
const MEDIA_IMG = require('../assets/images/izumi.svg')
// eslint-disable-next-line @typescript-eslint/no-var-requires
const MEDIA_IMG_LOVELY = require('../assets/images/izumi-lovely.svg')
const DAYS: number[] = [...Array(7)].map((_, i) => i)
const WEEKS: number[] = [...Array(53)].map((_, i) => i)
const LANGUAGES: Language[] = [
  {
    name: '日本語',
    level: 85,
    color: '#EFB9CB',
    notation: 'ネイティブジャパニーズです。'
  },
  {
    name: '英語',
    level: 65,
    color: '#223973',
    notation: 'TOEICは880です。<br> TOEFLは84です。'
  },
  {
    name: 'Vue.js',
    level: 65,
    color: '#EFB9CB',
    notation: 'BIツールの作成、ECサイト<br>の開発に携わりました。'
  },
  {
    name: 'Python',
    level: 45,
    color: '#223973',
    notation: 'テストの自動化業務で<br>使用しました。'
  },
  {
    name: 'SQL',
    level: 30,
    color: '#EFB9CB',
    notation: '2020/04~<br>業務で使い始めました。'
  }
]

export default defineComponent({
  components: {
    CalendarCell,
    LanguageBar
  },
  props: {
    scrollY: {
      default: 0
    }
  },
  setup() {
    onMounted(async () => {
      while (state.responseLength === 100) {
        await fetchGrasses()
      }
      await makeCalendar()
      state.isMounted = true
    })
    const img = ref(MEDIA_IMG)
    const imgLovely = ref(MEDIA_IMG_LOVELY)
    const days = ref(DAYS)
    const weeks = ref(WEEKS)
    const languageBars = ref(LANGUAGES)
    const state = reactive({
      grass: {},
      calendar: [[]],
      firstWeek: {}, //月の最初の週が全体の何周目か
      oneDayBeforeLastDate: '2020-05-03', //草をはやし始めた日
      responseLength: 100,
      isImgHovered: false,
      isMounted: false
    })

    // METHODS
    // Date型をYYYY-MM-DDに変換
    const formatDate = (date: Date): string => {
      return moment(date).format('YYYY-MM-DD')
    }
    // 日にちの配列から特定の日の個数を返す
    const countDates = (dates: string[], dateToCount: string): number => {
      return dates.filter((date) => date === dateToCount).length
    }
    // 草を取得
    let eventDateCount: EventDateCount = state.grass
    const fetchGrasses = async () => {
      try {
        const response = await axios.get(
          'https://gitlab.com/api/v4/users/Izumeeeel/events',
          {
            params: {
              after: state.oneDayBeforeLastDate,
              per_page: '101',
              sort: 'asc'
            }
          }
        )
        const eventDates: string[] = []
        // 日付のみ取得
        response.data.forEach((event: GitlabEvent) => {
          eventDates.push(formatDate(event.created_at))
        })
        // 取得した日にちの最後から２番目。（最後の日からもう一度取得するため）
        // データがなかったら終わらせる
        if (response.data.slice(-2)[0] == undefined) {
          state.responseLength = 0
          throw 'data not found'
        }
        const oneDayBeforeLastDate: string = formatDate(
          response.data.slice(-2)[0]['created_at']
        )
        // 取得した日にちの個数を数えてeventDateCountに入れていく
        eventDates.forEach((date: string) => {
          eventDateCount[date] = countDates(eventDates, date)
        })
        state.oneDayBeforeLastDate = oneDayBeforeLastDate
        state.responseLength = response.data.length
      } catch (error) {
        console.log(`Fetch grasses failed! HTTP Status: ${error}}`)
      }
    }
    // １週間ごとの日付を１年前から取得
    const makeCalendar = (): void => {
      const dateOneYearAgo: Date = moment(new Date()).subtract(1, 'y').toDate()
      const dayOneYearAgo: number = moment(dateOneYearAgo).day()
      const weeksInYear: number = moment().isoWeeksInYear() + 1
      let oneWeekLength = 7
      let firstWeekLength = 7
      for (let week = 0; week < weeksInYear; week++) {
        let daysInWeekArr: string[] = []
        let currentMonth: string = moment(dateOneYearAgo).format('MMM')
        const firstWeek: { [n: number]: string } = state.firstWeek
        if (week === 0) {
          // 最初の週だけ曜日を合わせる
          firstWeekLength = dayOneYearAgo
          // １年前の月を入れる
          firstWeek[week] = currentMonth
          // １年より前の日には0を入れる
          for (let day = 0; day < firstWeekLength - 1; day++) {
            daysInWeekArr.push('0')
          }
          // １年前の日から入れる
          for (let day = 0; day < 7 - (firstWeekLength - 1); day++) {
            let date = moment(dateOneYearAgo).add(day, 'd').format('YYYY-MM-DD')
            daysInWeekArr.push(date)
          }
        } else {
          for (let day = 0; day < oneWeekLength; day++) {
            let date = moment(dateOneYearAgo)
              .add(day + week * oneWeekLength - (firstWeekLength - 1), 'd')
              .format('YYYY-MM-DD')
            // 月の初めだったら何周目かを入れる
            if (date === moment(date).startOf('month').format('YYYY-MM-DD')) {
              currentMonth = moment(date).format('MMM')
              firstWeek[week] = currentMonth
            }
            // 未来の日には0を入れる
            moment(date).isSameOrBefore(moment())
              ? daysInWeekArr.push(date)
              : daysInWeekArr.push('0')
          }
        }
        const calendar: string[][] = state.calendar
        calendar.splice(week, 0, daysInWeekArr)
      }
    }

    const calculateBarHeight = (level: number): number => {
      return scrollY < 500 ? level * (scrollY / 5) * 0.01 : level
    }

    return {
      img,
      imgLovely,
      days,
      weeks,
      languageBars,
      state,
      fetchGrasses,
      calculateBarHeight
    }
  }
})
</script>

<style scoped lang="scss">
@import '../assets/styles/style.scss';

.about {
  .media {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    @include media(m) {
      justify-content: center;
    }
    &__imgWrapper {
      flex: 0 0 20%; //grow 0
      text-align: left;
      min-width: 200px;
      @include media(m) {
        text-align: center;
      }
    }
    &__img {
      width: 50%;
    }
    &__body {
      $media-margin: 40px;
      flex: 1 1 ($width-main / 2) - ($media-margin / 2); //grow 1 shrink 1
      margin-right: ($media-margin / $width-main) * 100%;
    }
    &__body > *:last-child {
      margin-bottom: 0;
    }
    &__subTitle {
      margin-bottom: 28px;
      font-weight: bold;
      margin-top: 16px;
      line-height: 1em;
    }
    &__text {
      line-height: 2em;
    }
  }
  .grass {
    $this: &;
    margin-bottom: 60px;
    @include media(m) {
      display: none;
    }
    &__description {
      margin-top: 4px;
      margin-bottom: 64px;
    }
    &__inner {
      display: flex;
      justify-content: center;
      // TODO: thisを使う
      .grass__dayLabel {
        padding-top: 25px;
        .grass__day {
          margin: 0;
          margin-bottom: 19px;
          margin-right: 4px;
          line-height: 15px;
          font-size: $small;
        }
        .grass__day:last-child {
          margin: 0;
          line-height: 15px;
        }
      }
      .grass__week {
        display: flex;
        flex-direction: column;
        width: 15px;
        margin-right: 2px;
        .grass__day {
          background-color: $blue_1;
          border-radius: 50%;
          line-height: 15px;
          margin-bottom: 2px;
        }
      }
    }
  }
  .language {
    $this: &;
    @include media(m) {
      margin-bottom: 60px;
    }
    .language__inner {
      display: flex;
      justify-content: center;

      @include media(m) {
        padding-left: 0;
      }
      .language__labelContainer {
        flex: 0 1 40%;
        padding: 16px 16px 16px 0;
        .language__label {
          margin-bottom: 80px;
          @include media(m) {
            margin-bottom: 45px;
          }
        }
        @include media(m) {
          flex: 0 1 10%;
          padding: 0px 16px 64px 0;
          font-size: $small;
          white-space: nowrap;
        }
      }
      .language__barContainer {
        flex: 0 1 80%;
        padding: 16px 0;
        display: flex;
        @include media(m) {
          flex: 0 1 90%;
        }
      }
    }
  }
}
</style>
