<template>
  <body>
    <div class="body__wrapper">
      <TheLoading v-if="state.isLoading" @loaded="loaded" />
      <div v-show="!state.isLoading">
        <TheHeader />
        <TheFooter class="footerNav" />
        <div class="main">
          <router-view />
        </div>
        <TheCopyRight />
      </div>
    </div>
  </body>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive } from 'vue'
import TheHeader from './components/TheHeader.vue'
import TheFooter from './components/TheFooter.vue'
import TheCopyRight from './components/TheCopyRight.vue'
import TheLoading from './components/TheLoading.vue'

export default defineComponent({
  components: {
    TheHeader,
    TheFooter,
    TheCopyRight,
    TheLoading
  },
  setup() {
    onMounted(() => {
      state.isLoading = true
    })
    const state = reactive({
      isLoading: true
    })
    const loaded = () => {
      state.isLoading = false
    }
    return {
      state,
      loaded
    }
  }
})
</script>

<style scoped lang="scss">
@import './assets/styles/style.scss';
.main {
  padding: 10% 10% 3% 10%;
}
.footerNav {
  z-index: 100;
}
code {
  background: $main-blue;
  line-height: 16px;
  color: $base-white;
  display: block;
  border-radius: 5px;
  padding: 10px;
  overflow-wrap: break-word;
  overflow: scroll;
}
</style>
