// ===========================
// mixinの定義
// ===========================


// レスポンシブ対応用
$breakpoints: (
  xs: "only screen and (max-width: 320px)",
  s: "only screen and (max-width: 575px)",
  m: "only screen and (max-width: 767px)",
  l: "only screen and (max-width: 1000px)",
  xl: "only screen and (max-width: 1199px)",
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// make component neomorphism
@mixin neomorphism($depth: 3, $flat: true) {
  @if $flat {
    background: #F8F8FC;
    box-shadow: #{$depth}px #{$depth}px #{$depth*2.5}px #d3d3d6, 
                -#{$depth}px -#{$depth}px #{$depth*2.5}px #ffffff;
  } @else {
    background: #F8F8FC;
    box-shadow: inset #{$depth}px #{$depth}px #{$depth*2.5}px #d3d3d6, 
                inset -#{$depth}px -#{$depth}px #{$depth*2.5}px #ffffff;    
  }
}

// neomorphism for nav
@mixin neomorphismNav($bottom-radius: 10px) {
  border-radius: 10px 10px $bottom-radius $bottom-radius;
  box-shadow:  3px 3px 10px #d3d3d6, 
              -3px -3px 15px #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  #{&this}__nav {
    display: none;
  }
}

@mixin worksInner() {  
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .cards--col3 {
    margin-bottom: -30px;
  }
  @include media(m) {
    .cards--col3 {
      margin-bottom: 60px;
    }
    .cards__item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

@mixin hoveredNotation(
    $this: &, 
    $notation-width: 108px,
    $top: -58px,
    $left: -$notation-width / 2 - 3,
    // widthを何倍するか
    $widthBy: 4.5,
    $isLast: false
  ) {
  &_hovered {
    background-color: rgba(1, 1, 1, .9);
    color: $base_white;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    width: $notation-width;
    top: $top;
    left: $left;
    @include media(s) {
      width: $notation-width*$widthBy;
      left: -($notation-width*$widthBy) / 2 + 5;
      @if $isLast {
        left: -($notation-width*$widthBy) / 2 - 200;
      }
    }
    padding: 6px 10px;
    pointer-events: none;
    #{$this}__text {
      font-size: $small;
      white-space: nowrap;
      margin: 0;
      line-height: $small+6;
    }
  }
  &_hovered:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    border-top: 10px solid rgba(1, 1, 1, .9);
    @include media(s) {
      @if $isLast {
        left: 78%;
      }
    }
  }
}

@mixin centeredItem($left: 50%) {
  position: absolute;
  top: 50%;
  left: $left;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: $base-white;
}

@mixin loadingCircle($color) {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  content: '';
  width: inherit;
  height: inherit;
  background: $color;
  border-radius: 50%;
  z-index: -5;
}