// ===========================
// グローバル変数や設定の定義
// ===========================

// fonts
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
$small: 12px;

// colors
$text_black: #333333 !global;
$base_white: #F8F8FC !global;
$main_blue: #192b58 !global;
$accent_pink: #EFB9CB !global;
$accent_yellow: #E8FFB7 !global;

$blue_9: #253d75;
$blue_8: #5a6c96;
$blue_7: #94a0bb;
$blue_3: #ced3e0;
$blue_1: #ebedf3;

// sizes
$width_main: 1200px;

// styles
body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  color: $main_blue;
  background: $base-white;
  &__wrapper {
    width: 100%;
    position:relative;
    min-height: 100%;
  }
}

a {
  text-decoration: none;
  color: $main_blue;
}

h1 {
  margin-bottom: 36px;
}

h2 {
  margin-top: 80px;
  margin-bottom: 40px;
}